* {
  margin:0;padding:0;overflow-wrap:break-word;
}


#app {
  background-color: hsl(130, 100%, 84%);
  width: 100vw;
  height: 100vh;
}

#wrapEditor {
  height: 33vh;
}

#wrapPreviewer {
  height: 65vh;
}

#wrapEditor, #wrapPreviewer {
  border: 2px solid hsl(130, 100%, 10%);
}

.toolbar {
  height: 5vh;
  background-color: hsl(130, 100%, 25%);
  text-align: center;
  padding-top: 1vh;
  color: white;
}

#editor, #preview {
  width: 98vw;
  padding: 0 2px;
  background-color: hsl(130, 100%, 90%);
}

#editor {
  height: 26.7vh;
  resize: none;
}

#preview {
  height: 58.8vh;
  /* to display new line */
  white-space: pre-wrap;
  overflow-y: auto;
}